/* CSS Document 
Web Name: Music Mixer 
Description: Major Assignment 
Author: Immama Ayoub, Giovanni Perruzzi
Version: 1.0
*/

@charset "UTF-8";
/*------------------
1- Global 
2- Ids
-------------------*/

/*_________________

Global
___________________*/

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

img {
  height: auto;
  max-width: 100%;
}

/*_________________

Ids
___________________*/

/* Grid start */

header,
main,
footer {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  position: relative;
}

/* Grid end */

/* Header start */

.header-title {
  grid-column-start: 1;
  grid-column-end: 6;
}

@keyframes color {
  40% {background-color: #000000; left: 100px; right: 100px;}
}

.header-title h2 {
  animation-name: color;
  animation-duration: 5s;
  background-color: #696969;
  color: #E10600;
  font-size: 4em;
  font-family: "Montserrat", sans-serif;
  padding: 0.5em;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
}

/* Header end */

/* Background image start */

#bg-image {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
}

.bg-image {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Background image end */

/* Dropzones start */

#dropzones {
  background-color: #000000;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 300px;
  padding-top: 50%;
  width: 600px;
  z-index: 1;
}

/* Dropzones end */

/* Images start */

#images {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  padding-top: 10%;
  justify-content: space-between;
  z-index: 1;
}

.left-images-drag,
.right-images-drag {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
}

.image1,
.image2,
.image3,
.image4,
.image5,
.image6,
.image7,
.image8,
.image9,
.image10,
.image11,
.image12 {
  padding-bottom: 15px;
  border-radius: 15px;
}

/* Images end */

/* Audio controls starts */

#audio-controls {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-content: space-evenly;
}

button {
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  padding: 12px 5px;
  text-align: center;
}

/* Audio controls end */